@import './mixin.scss';

$color-gray-title: #333333;
$color-gray-text: #3a3a3c;
$color-gray-line: #e3e3e3;
$color-white-text: #ffffff;
$color-red-line: #fb5049;
$color-gray-bg: #f6f6f6;

$font-s16: 16px;
$font-s22: 22px;
$font-s24: 24px;
$font-s26: 26px;
$font-s30: 30px;

